:root {
  --el-color-white: #fff;

  // base color
  --blue: #324157;
  --light-blue: #3a71a8;
  --red: #c03639;
  --pink: #e65d6e;
  --green: #30b08f;
  --tiffany: #4ab7bd;
  --yellow: #fec171;
  --pan-green: #30b08f;

  // sidebar
  --menu-text: #bfcbd9;
  --menu-active-text: #409eff;
  --sub-menu-active-text: #f4f4f5; // https://github.com/ElemeFE/element/issues/12951

  --menu-bg: #0a0933;
  --menu-hover: #1b1b76;

  --sub-menu-bg: #131346;
  --sub-menu-hover: #1d1d76;

  --side-bar-width: 210px;
}
